# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.venv/
env/
ENV/

# =========================
# FASTAPI / UVICORN
# =========================
*.log

# =========================
# SQLITE
# =========================
*.db
*.sqlite3

# =========================
# ENV VARIABLES
# =========================
.env

# =========================
# PYTEST
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# MYPY / TYPE CHECK
# =========================
.mypy_cache/

# =========================
# IDEs
# =========================

# VS CODE
.vscode/

# PYCHARM
.idea/

# =========================
# OS FILES
# =========================

# Windows
Thumbs.db
Desktop.ini

# MacOS
.DS_Store

# =========================
# BUILD FILES
# =========================
build/
dist/
*.egg-info/

# =========================
# ALEMBIC
# =========================
alembic/versions/__pycache__/

# =========================
# CACHE
# =========================
.cache/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp

# =========================
# SECRET FILES
# =========================
secrets/
credentials/

# =========================
# TEST DATABASES
# =========================
test.db
test.sqlite3